<ion-view title="Jane Doe" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/4k4ic8CSWm5JzRq0HfpA_female2001.png" width="100" height="100" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="janeDoe-form2" class="list ">
            <label class="item item-input " id="janeDoe-textarea2" name="patientid">
                <span class="input-label">MRN: 43567</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="janeDoe-textarea3" name="patientdob">
                <span class="input-label">DOB: 07/14/62</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="janeDoe-textarea6">
                <span class="input-label">Gender: Female</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="janeDoe-textarea5">
                <span class="input-label">Ethnicity: African American</span><textarea placeholder=""></textarea>
            </label>
            <ion-item class="item-icon-right  " id="janeDoe-list-item11">Medications: n/a
                <span class="item-note">Allergies: penicillin</span>
                <i class="icon ion-alert"></i>
            </ion-item>
        </form>
        <h3 id="janeDoe-heading1" style="color:#000000;text-align:center;" class=" ">Diagnosis</h3>
        <p id="janeDoe-markdown2" style="color:#000000;font-size:20px;" class=" ">Tissue: Breast
            <br>Subtissue: NS
            <br>Histology: Carcinoma
            <br>SubHistology: Basal (triple-negative) carcinoma</p>
        <a href="#" onclick="window.open('http://cancer.sanger.ac.uk/cosmic/browse/tissue#sn=breast&amp;ss=all&amp;hn=carcinoma&amp;sh=basal_(triple-negative)_carcinoma&amp;in=t&amp;src=tissue&amp;all_data=n', '_system', 'location=yes'); return false;"
        id="janeDoe-button2" class=" button button-positive  button-block ">More information: (link to COSMIC)</a>
        <div class="spacer" style="width: 748px; height: 32px;"></div>
        <h3 id="janeDoe-heading3" style="color:#000000;text-align:center;" class=" ">Gene Sequencing Report</h3>
        <div id="janeDoe-button-bar2" class=" button-bar ">
            <a ui-sref="menu.tP53GeneVariants" id="janeDoe-button6" style="border-radius:-2px -2px -2px -2px;" class=" button button-positive  button-block ">TP53</a>
            <a ui-sref="menu.pIK3CAGeneVariants" id="janeDoe-button7" style="border-radius:-2px -2px -2px -2px;" class=" button button-positive  button-block ">PIK3CA</a>
            <a ui-sref="menu.bRAFGeneVariants" id="janeDoe-button8" style="border-radius:-2px -2px -2px -2px;" class=" button button-positive  button-block ">BRAF</a>
        </div>
        <div id="janeDoe-button-bar3" class=" button-bar ">
            <a ui-sref="menu.eGFRGeneVariants" id="janeDoe-button10" style="border-radius:-1px -1px -1px -1px;" class=" button button-positive  button-block ">EGFR</a>
            <a ui-sref="menu.CDH1GeneVariants" id="janeDoe-button9" style="border-radius:-2px -2px -2px -2px;" class=" button button-positive  button-block ">CDH1</a>
        </div>
        <div class="spacer" style="width: 748px; height: 48px;"></div>
        <h3 id="janeDoe-heading5" style="color:#000000;text-align:center;" class=" ">Plan</h3>
        <a href="#" onclick="window.open('http://hemonc.org/wiki/Breast_cancer', '_system', 'location=yes'); return false;" id="janeDoe-button12" class=" button button-positive  button-block ">Treatment Options</a>
    </ion-content>
</ion-view>
