

  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">



        <script src="lib/ionic"></script>

        <script src="lib/ionic/css/ionic.css" ></script>
          </head>

        <body>

          <ion-header-bar class="bar-positive">
            <h1 class="title">{{myTitle}}</h1>
          </ion-header-bar>

          <ion-content class="padding">


          </ion-content>

          <script id="loading.html" type="text/ng-template">
            <div class="icon ion-loading-b"></div>
            <br />
            <span>Custom Loading...</span>
          </script>

        </body>

        </html>
<style>

        body {

}
.loading{
  background-color: rgba(240, 50, 50, 0.7) !important;
}

.icon{
font-size: 35px !important;
}

</style>
