<ion-view title="Patients" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="patients-form8" class="list ">
            <label class="item item-input" name="patientssearch">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Patients">
            </label>
            <ion-item class="item-avatar  " id="patients-list-item13" ui-sref="menu.janeDoe">
                <h2>Jane Doe</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item14">
                <h2>John Doe</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item15">
                <h2>P3</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item16">
                <h2>P4</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item17">
                <h2>P5</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item18">
                <h2>P6</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item19">
                <h2>P7</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item20">
                <h2>P8</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item21">
                <h2>P9</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item22">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item23">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item24">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item25">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item26">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item27">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item28">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item29">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item30">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item31">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item32">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item33">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item34">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item35">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item36">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item37">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item38">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item39">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item40">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item41">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item42">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item43">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item44">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item45">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item46">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item47">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item48">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item49">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item50">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item51">
                <h2>P10</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item52">
                <h2>P25</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="patients-list-item53">
                <h2>P100</h2>
            </ion-item>
        </form>
    </ion-content>
</ion-view>